<!DOCTYPE html>
<html>

<head>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="app">
        <section class="tile-grid" role="list">
            <article class="tile-box" role="listitem">
                <h2 class="tile-box__title"></h2>
                <div class="tile-box__content">
                </div>
            </article>
        </section>
    </div>
</body>

</html>