<!DOCTYPE html>
<html>

<head>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="app">
        <form action="" method="post" id="form">
            <fieldset>
                <input type="checkbox" name="icb">
            </fieldset>
        </form>
    </div>
</body>

</html>